releases/v1.0/BlogME-videos-preprocess.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1420,
        80
      ],
      "id": "f79275e4-6f41-4fa6-a760-2eb417851ca5",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "content": "# BlogME Videos Preprocessing Workflow\n## Documentation\n\nThis workflow processes YouTube videos through transcript extraction and AI analysis to prepare content for newsletter curation.\n\n## Setup Requirements\n- **Airtable Access**: Videos table with 'Stage=New' videos\n- **Apify API**: YouTube transcript extraction service\n- **LangChain Agents**: AI models for content analysis\n- **API Keys**: Apify token for transcript service\n\n## Main Workflow Stages\n\n### Stage 1: Get New Videos\n- **Fetch Videos**: Gets videos with 'Stage=New' from Airtable\n- **Filter**: Only processes unprocessed video content\n- **Input**: VideoID, Full Video URL, basic metadata\n\n### Stage 2: Extract Transcripts\n- **Loop Processing**: Processes each video individually\n- **Apify Integration**: Uses YouTube transcript extraction API\n- **Transcript Processing**: Merges captions into full transcript\n- **Data Extraction**: Gets video metadata (description, keywords, thumbnails)\n\n### Stage 3: AI Content Analysis\n- **Summarization Agent**: Creates concise video summaries\n- **Main Ideas Agent**: Extracts key concepts and insights\n- **Parallel Processing**: Both agents work simultaneously\n- **Content Enhancement**: Enriches video data for curation\n\n### Stage 4: Update Database\n- **Merge AI Outputs**: Combines summary and main ideas\n- **Update Records**: Saves enhanced content to Airtable\n- **Stage Progression**: Updates videos to 'Transcript generated'\n- **Error Handling**: Continues processing on individual failures\n\n## Workflow Details\n- **Trigger**: Manual execution for batch processing\n- **Processing**: Sequential video handling to avoid API limits\n- **AI Models**: LangChain agents for content analysis\n- **Output**: Videos ready for AI scoring and curation",
        "height": 600,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2500,
        -120
      ],
      "id": "4e7981ac-564a-4544-86ca-be77256b1186",
      "name": "README"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/karamelo~youtube-transcripts/run-sync-get-dataset-items?token=add your api token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channelIDBoolean\": true,\n    \"channelNameBoolean\": true,\n    \"commentsBoolean\": false,\n    \"datePublishedBoolean\": true,\n    \"dateTextBoolean\": false,\n    \"descriptionBoolean\": true,\n    \"keywordsBoolean\": true,\n    \"likesBoolean\": true,\n    \"maxRetries\": 8,\n    \"proxyOptions\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"BUYPROXIES94952\"\n        ]\n    },\n    \"relativeDateTextBoolean\": false,\n    \"thumbnailBoolean\": true,\n    \"urls\": [\n        \"{{ $json[\"Full Video URL\"] }}\"\n    ],\n    \"viewCountBoolean\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        140
      ],
      "id": "36531726-93e9-46b7-bfe7-8780382cb150",
      "name": "Get Video Transcript",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f47a05f6-8d21-4899-b2ee-5f384954f84f",
              "name": "chatInput",
              "value": "={{ $json.captions.join(' ') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "channelID , videoId, thumbnailUrl, description, keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        120
      ],
      "id": "119b04bd-4566-4fbc-ab76-5ce5e764e0ca",
      "name": "Merge captions into transcript"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Summarize the following youtube transcript in markdown format:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        220
      ],
      "id": "0982eff6-9891-46ac-b833-514119428b64",
      "name": "Summarization Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Extract the main ideas from the following youtube transcript in markdown format:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        120,
        -20
      ],
      "id": "a7c8595c-a76c-4a11-97c3-535b438fcc2a",
      "name": "Main Ideas Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a2be3fa-b176-4233-91da-daaad4852cd3",
              "name": "mainIdeas",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "b197d155-ca9f-4263-9eb9-9268f5070bb7",
              "name": "videoId",
              "value": "={{ $('Merge captions into transcript').item.json.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -20
      ],
      "id": "88dc57bd-0a4c-49e5-a987-c34ba4ec1c20",
      "name": "mainIdeas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a11952d-5673-492e-ae84-59fa6c481fd4",
              "name": "videoSummary",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "ee7c3d8d-0668-4684-a969-a3535215cd69",
              "name": "videoId",
              "value": "={{ $('Merge captions into transcript').item.json.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        220
      ],
      "id": "c6d89edc-420e-42cd-bb0f-164e4ea4f1f6",
      "name": "videoSummary"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "videoId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        740,
        140
      ],
      "id": "fe4f6a9e-4882-4446-8d74-e2be55550fd2",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        60,
        400
      ],
      "id": "1bfbeba5-3f15-4ed0-aa98-d491c67d7baf",
      "name": "Claude Haiku 3.",
      "credentials": {
        "anthropicApi": {
          "id": "mrFkZ8Dy5jHppThF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "videoId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        940,
        60
      ],
      "id": "5267c80e-945d-412f-9c28-7b9159cc15a1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appogY65dUw2zNOJB",
          "mode": "list",
          "cachedResultName": "Aquisition Insider Input List",
          "cachedResultUrl": "https://airtable.com/appogY65dUw2zNOJB"
        },
        "table": {
          "__rl": true,
          "value": "tblsgnMQzdOsBTGYM",
          "mode": "list",
          "cachedResultName": "YoutubeVideos",
          "cachedResultUrl": "https://airtable.com/appogY65dUw2zNOJB/tblsgnMQzdOsBTGYM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ChannelID": "={{ $json.channelID }}",
            "VideoID": "=yt:video:{{ $json.videoId }}",
            "Main Ideas": "={{ $json.mainIdeas }}",
            "Transcript": "={{ $json.cleanedTranscript }}",
            "Stage": "Transcript generated",
            "Description": "={{ $json.description }}",
            "Content Summary": "={{ $json.videoSummary }}",
            "Keywords": "={{ $json.keywords }}"
          },
          "matchingColumns": [
            "VideoID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VideoID",
              "displayName": "VideoID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ChannelID",
              "displayName": "ChannelID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publication Date",
              "displayName": "Publication Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publication Date (Date Format)",
              "displayName": "Publication Date (Date Format)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Transcript generated",
                  "value": "Transcript generated"
                },
                {
                  "name": "Vectorized",
                  "value": "Vectorized"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Used in NewsLetter",
                  "value": "Used in NewsLetter"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel Name",
              "displayName": "Channel Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Video URL",
              "displayName": "Full Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Main Ideas",
              "displayName": "Main Ideas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content Summary",
              "displayName": "Content Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thumbnail Image",
              "displayName": "Thumbnail Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Subscriber Feedback",
              "displayName": "Subscriber Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Days Since Publication",
              "displayName": "Days Since Publication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source Relevance Score",
              "displayName": "Source Relevance Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Newsletters",
              "displayName": "Newsletters",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "YoutubeVideoID",
              "displayName": "YoutubeVideoID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1300,
        360
      ],
      "id": "09a89dae-2eab-4953-a76a-1916c22ca4b9",
      "name": "Update video info",
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "add your api token",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cleanedTranscript",
              "name": "cleanedTranscript",
              "value": "={{ $json.chatInput.replace(/&#39;/g, \"'\").replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/\\u[0-9a-fA-F]{4}/g, '').replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '').replace(/\\r\\n|\\r|\\n/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 99900) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        200
      ],
      "id": "592facfc-eb54-4280-936b-a4fc133b59f1",
      "name": "Clean Transcript for Airtable"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appogY65dUw2zNOJB",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblsgnMQzdOsBTGYM",
          "mode": "id"
        },
        "filterByFormula": "=AND({Stage}='New',  {Publication Date (Date Format)} > \"{{$now.minus(7,'days').format('yyyy-MM-dd')}}\")",
        "options": {}
      },
      "id": "5562cfa5-f37a-4ac9-bdc5-2e09f650461e",
      "name": "Fetch New Videos",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1200,
        120
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "add your api token",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -860,
        120
      ],
      "id": "e51c6895-e24e-4e75-9d6f-f1af46addfbd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1420,
        240
      ],
      "id": "186944c9-fef4-4158-a053-773eb8ea9878",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Fetch new videos",
        "height": 600,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -40
      ],
      "id": "ecf45216-cecd-4306-b2f6-ded9e5a213af",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get video transcript with Apify",
        "height": 700,
        "width": 700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        -140
      ],
      "id": "374b1723-2c5b-4ce1-86c8-26167ca52c8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extract video summary and main ideas",
        "height": 700,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        -140
      ],
      "id": "e31e2381-5318-42fb-a0dd-b5eddc4d86b5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update YoutubeVideos table and set stage to \"Transcript Generated\"",
        "height": 700,
        "width": 840,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -140
      ],
      "id": "63091dba-f3e0-4b35-9eed-faf4bc2e9cf2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6acd11b7-5029-4a46-b345-0d51e0bd231c",
              "leftValue": "={{ $json.captions }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        120
      ],
      "id": "863423ac-e858-4e9c-a3e5-833c23f7f8e8",
      "name": "If captions exist"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Transcript": {
      "main": [
        [
          {
            "node": "If captions exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge captions into transcript": {
      "main": [
        [
          {
            "node": "Main Ideas Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Agent": {
      "main": [
        [
          {
            "node": "videoSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Ideas Agent": {
      "main": [
        [
          {
            "node": "mainIdeas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mainIdeas": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "videoSummary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Claude Haiku 3.": {
      "ai_languageModel": [
        [
          {
            "node": "Main Ideas Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clean Transcript for Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update video info": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Transcript for Airtable": {
      "main": [
        [
          {
            "node": "Update video info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Video Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If captions exist": {
      "main": [
        [
          {
            "node": "Merge captions into transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e471dfbd779209eba1f0067325677ed388a5cc6793267c6fa956fb49f8a46726"
  }
}